#abaLista {
    display: flex;
    flex-direction: column;
}

#titleList {
    text-align: center;
}

#listaContatos {
    width: 85%;
    margin: 5%;
    height: 85%;
}

.Contato {
    background-color: white;
    color: black;
}

.ContatoHeader {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.NomeContato {
    margin-left: 10px;
    border-style: none;
    width: 85%;
}

.TelefoneContato {
    margin-left: 10px;
    border-style: none;
    width: 85%;
}

.Editar {
    align-items: center;
    margin-left: 10px;
    background-color: yellow;
    border-style: none;
    border-radius: 10px;
    color: black;
}

.Editar:hover {
    cursor: pointer;
    background-color: rgb(175, 212, 38);
}

.Excluir {
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: red;
    border-style: none;
    border-radius: 10px;
    color: black;
}

.Excluir:hover {
    cursor: pointer;
    background-color: rgb(189, 39, 39);
}